.background-posts {
  width: 100%;
  height: 100%;
  background-image: image-url("background-gray-middle.png");
  background-size: cover;
}

.wrapper-posts {
  padding: 80px 90px 0 90px;
  text-align: center;
  min-height: 100vh;
}

.posts-card {
  background-color: white;
  border: 2px solid $orange;
  padding: 74px 27px 11px 16px;
  margin: 20px 0px;
  min-height: 380px;
  position: relative;
}

.posts-title {
  color: black;
  text-decoration: none;
  padding-bottom: 20px;
}

.linktopost{
  position: absolute;
    top: 61px;
    left: 54px;
    bottom: 0;
    width: 69%;
    height: 15%;
    z-index: 2;
    opacity: 1;
    padding-top: 30px;
    padding-left: 100px;
}

.posts-underline {
  color: $orange;
  text-decoration: underline;
  text-align: center;
  font-size: 32px;
}

.posts-underline-blue {
  color: $light-blue;
  text-decoration: underline;
  text-align: center;
  font-size: 20px;
}

.posts-underline-orange {
  color: $orange;
  text-decoration: underline;
  text-align: center;
  font-size: 20px;
}

.posts-content {
  min-height: 50px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: justify;
}

.posts-center {
  text-align: center;
  margin: auto;
}

.posts-images {
  position: absolute;
  top: 30px;
}

.posts-type-selection {
  display: flex;
}

.post-make {
  position: absolute;
  bottom: 45px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.post-ago {
  font-size: 10px;
  position: absolute;
  bottom: 8px;
  right: 23px;
}

.kind-label {
  font-size: 11px;
  position: absolute;
  top: 32px;
  right: 23px;
  color: white;
  padding-left: 5px;
  padding-right: 9px;
  border-radius:  32px 170px 170px 22px;
}

.dutchie {
  background-color: $light-blue;
}

.refugee {
  background-color: $orange;
}

.dynamic_map {
  margin-bottom: 50px;
}


.active-black{
  background-color: rgba(255,255,255,1);
  color: black;
  transition: background-color 1s, color 1s ease;
}

.active-orange{
  background-color: rgba(0,0,0,0);
  color: $orange;
  transition: background-color 1s, color 1s ease;
}

.make-post {
  font-size: 30px;
}

.map-wrap{
  padding-top: 20px;
  padding-bottom: 20px;
}

/* TOGGLE MAP LIST */

.toggle-map-list{
  font-size: 20px;
  border-style: solid;
  border-color: $light-blue;
  font-color: $light-blue;
  text-align: right;
}


.list-type{
  display: flex;
  justify-content: flex-end
}

// one post
.wrapper-post {
  padding: 80px 40px;
}

.post-card {
  background-color: white;
  border: 4px solid $light-blue;
  padding: 74px 27px 11px 16px;
  margin: 20px 0px;
  min-height: 380px;
  position: relative;
  min-height: 400px;

}

.posts-icon {
  font-size: 30px;
}

.one-post-ago {
  position: absolute;
  top: 40px;
  right: 40px;
}

.one-post-image {
  position: absolute;
  top: 40px;
  left: 40px;
}

.one-post-map {
  min-height: 400px;
  min-width: 300px;
  margin: 20px 0px;
}

.post-subject {
  font-family: $header-font;
  font-size: 20px;
}

.delete-post {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: red;
  border: 1px solid red;
  padding: 2px;
  &:hover {
    background-color: red;
    color: white;
  }
  &:visited {
    color: red;
    text-decoration: none;
    &:hover {
    background-color: red;
    color: white;
  }
  }
  &:active {
    color: red;
    text-decoration: none;
    &:hover {
    background-color: red;
    color: white;
  }
  }
  &:focus {
    color: red;
    text-decoration: none;
    &:hover {
    background-color: red;
    color: white;
  }
  }
}

.butti-map {
  margin-left: -5px;
}

.goback{
  padding-top: 30px;
}

@media screen and (max-width: 1000px) {
  .wrapper-posts {
    padding: 80px 20px 0 20px;
  }
}

@media screen and (max-width: 600px) {
  .list-type {
    justify-content: flex-start;
  }
}


