<%= render "dashboard/welcome" %>
<div class="sent_requests">

  <% @sent_requests.reverse.each do |request| %>
    <!-- Render sent request -->
    <%= render "dashboard/sent_request", request: request  %>
  <% end %>

  <br>

  <%= link_to "Back to dashboard", dashboard_root_path %> <br>

</div>
