<div class="wrapper-dashboard">
<div class="received_requests">
  <% @received_requests.each do |request| %>
  <!-- render to show a received request -->
  <%= render "dashboard/received_request", request: request  %>

  <% end %> <br>

 <%= link_to "Back to dashboard", dashboard_root_path %> <br>
</div>
</div>
