<!-- button to close and open menu -->
  <div class="menu-toggle">
    <i class="fa fa-bars open-menu"></i>
    <i class="fa fa-times hide-menu hidden"></i>
  </div>

  <!-- the menu itself -->
  <div id="menu-slider" class="overlay-content">
    <div class="menu-links">
      <a href="#" class="hvr-underline-from-center btn-simple-black">Posts</a> <br>
    <a href="#" class="hvr-underline-from-center btn-simple-black">Shared Stories</a> <br>
    <a href="#" class="hvr-underline-from-center btn-simple-black">My dashboard</a> <br>
    <a href="#" class="hvr-underline-from-center btn-simple-black">About</a> <br>
    </div>
  </div>


