<div class="wrapper">
<h1>New request</h1>
  <%= form_for [@post, @request] do |f| %>
    <p><%= f.text_area :message ,:class => 'message' %></p>
    <p><%= f.submit :class => 'btn btn-success' %></p>
    <% end %>
</div>
