    <div class="top-div">
    </div>
    <%= image_tag "skew.png", width: "100%"  %>

    <div class="center-div">
      <%=image_tag "refuGapp.png", width: '35%'  %>
      <p>Fill the gap between Locals and refugees by sharing skills.</p>
      <%= link_to "CONNECT", new_user_registration_path, class:"btn btn-warning btn-lg"%>
    </div>


    <h1>ABOUT</h1>
    <p> We all are blessed with a lot of skills. Why not connect with the people around us by exchanging them? With RefuGapp we are filling the gap between locals and newcomers by providing a platform where you can offer your offer and find skill and connect with new people! </p>
    <p>Are you a Local? Get to now the newcomers in your city by exchanging skills! Discover how refugees can help you,m sen da request and.. connect! Or: a skill you want to share? Make a post and someone will find you!</p>
    <p>Are you a newcomer? Get to know the locals by offering your skills! Make a post and help a local with the things you are good at.
      Or: in need of some help? Look what the locals are offering and send a request!</p>