<div class="wrapper">
<%= render "dashboard/welcome" %>
<div class="dashboard-right">
<div class="your_posts">
        <% @posts.reverse.each do |post| %>
         <%= render "dashboard/post", post: post %>
        <% end %> <br>
      </div>
      <%= link_to "Back to dashboard", dashboard_root_path %> <br>
    </div>
</div>
</div>
