<div style="width: 200px">

<h4><%= link_to post.subject, post_path(post) %></h4>
<h5>-<%= post.author.username %></h5>
<h6><%=h truncate(post.content, :length => 120) %></h6>
<% if post.content.length > 120 %>
<h6> <%= link_to "Read more", post_path(post) %></h6>
<% end  %>

</div>
