<h1><%= @post.subject %></h1>
<p><%= @post.content %></p>
<p><%= @post.author_id %><p> <!-- this is to test author_id, should not be displayed to users though -->
  <p><%= link_to 'Back to overview', posts_path %></p>

