.string {
  border: 0;
  box-shadow: 0px;
}

.form {
  text-align: center;
  max-width: 550px;
  margin: 100px auto;
  background-color: $light-blue;
  padding: 40px 80px;
  font-family: "Open Sans";
}

.form-title {
  font-weight: 700;
  margin-bottom: 45px;
  font-size: 45px;
}

.facebook-button {
  background-color: #49639F;
  padding: 10px 115px;
  color: white; 
}
.facebook-button:hover {
  color: white;
}

.form-inputs {
  margin-top: 20px;
}

.shared-links {
  margin-top: 20px;
}

.collection_radio_buttons {
  margin: 0px 5px;
  font-weight: 400;
}

.preview-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}