body {
  background-color: $dark-gray;
  color: $dark-gray;
}


.form {
  text-align: center;
  max-width: 550px;
  margin: 100px auto;
  background-color: $light-blue;
  padding: 80px;
  font-family: "Open Sans";
}

.form-title {
  font-weight: 700;
  margin-bottom: 45px;
  font-size: 45px;
}

.facebook-button {
  background-color: #49639F;
  padding: 10px 115px;
  color: white; 
}
.facebook-button:hover {
  color: white;
}

.form-inputs {
  margin-top: 20px;
}