// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "image-picker";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

// Dashboard
@import "dashboard.scss";


// Linkjes zwart nu even hier, maar vergeet het niet zo weg te halen :)
a {
  color: black;
}


a:hover {
  color: #e67e22;
  text-decoration: none;
}
