body {
  font-family: $base-font;
}

.text-center {
  text-align: center;
}

.dashboard-wrapper {

}

.dashboard-banner {
  padding: 120px;
  height: 200px;
  background-color: white;
  color: $orange;
}

.dashboard-container {
  display: flex;
  // justify-content: center;
  h2 {
    color: white;
    text-align: center;
  }
}

.dashboard-left {
  padding: 40px;
  flex: 1 1 auto;
  background-color: $gray-dark;
}

.dashboard-right {
  padding: 40px;
  background-color: $gray-light;
}

.dashboard-card {
  padding: 10px;
  margin: 10px;
  .subject {
    font-weight: bolder;
  }
  .sender-request {
    margin-left: 50px;
  }
  .request-card {
    margin: 10px;
    padding: 10px;
    background-color: rgba(206, 206, 206, 0.5);
  }
}

.created-at {
    // margin-left: 60px;
    font-size: 10px;
  }

  .left-card {
    background-color: rgba(206, 206, 206, 0.5);
  }
  .right-card {
    background-color: white;

  }

  .post-card {
    background-color: rgba(250, 250, 0, 0.8);
  }

  .post-request-card {
    background-color: rgba(206, 206, 206, 1);
  }
